.header {
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin-inline: auto;
}

.headerLeft,
.notificationContainer,
.userPopoverContainer,
.themeSwitcherContainer {
  display: flex;
  align-items: center;
  gap: 31px;
  background: var(--background-quaternary);
  border: 1px solid var(--copyright-top-border-color);
  padding: 11px;
  border-radius: 10px;
}

.notificationContainer {
  gap: 10px;
  /* padding-inline: 11px; */
}

.main_logo_main {
  cursor: pointer;
  position: relative;
  margin-inline-end: 1rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1340px) {
    width: 150px;
  }

  @media (max-width: 1220px) {
    width: 110px;
    margin-inline-end: 0.6rem;
  }

  @media (max-width: 450px) {
    width: 70px;
    height: 20px;
  }
}

.main_logo_main img {
  height: 100%;
  width: 100%;
}

.nabarLinks {
  padding: 6px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--ff-primary);
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  color: var(--text-color) !important;
  border-radius: 8px;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 14px;

  &:nth-last-child(1) {
    margin-right: auto;
  }

  &:first-child {
    margin-left: auto;
  }

  @media (max-width: 1230px) {
    padding: 2px 8px;
  }
}

/* .secondaryNavbarLinks {
  color: var(--primary-heading-color) !important;
} */

.activeItem {
  color: var(--primary-color) !important;
}

.dflex {
  display: flex;
  gap: 16px;
  margin-left: 16px;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 1100px) {
    margin-left: 10px;
  }
}

.chevDown {
  margin-inline-start: 8px;
  color: inherit;
}

.secondaryLoginBtn {
  background-color: var(--white-color) !important;
  color: var(--secondary-color) !important;
  font-weight: 500;
}

.unreadNotification {
  position: absolute;
  top: -5px;
  right: -2px;
  background: var(--red-color);
  color: var(--white-color);
  border-radius: 50%;
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 1;
}

.notificationIcon {
  position: relative;
  cursor: pointer;
  background-color: var(--notification-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  &.sticky {
    background-color: var(--main-color);
  }
}

.notificationText {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);

  @media (max-width: 1340px) {
    display: none;
  }
}

.addServiceBtn {
  border-radius: 8px;
  padding-block: 11px;
}

/* new css */

.menuWithDropdown {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  top: 100%;
  left: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px 4px;
  border-radius: 4px;
  padding: 10px 0;

  & > a {
    color: var(--secondary-color) !important;
  }
}

.menuWithDropdown:hover .dropdownMenu {
  display: block;
}

.dropdownItem {
  padding: 10px 20px;
  display: block;
  color: #333;
  text-decoration: none;
}

.dropdownItem:hover {
  background-color: #f4f4f4;
  color: var(--primary-color);
}
