.dashboardContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

.leftCol {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.chartBox {
  padding: 20px !important;
}

.rightCol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pageHeadClass h2 {
  font-size: 20px !important;
}
.revenueChart,
.calllogsBox {
  padding: 20px !important;
}

.calllogsSection {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
