.separator {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-top: 1px solid var(--input-border-color);
  border-bottom: 1px solid var(--input-border-color);
  padding: 12px 22px;
}
.title {
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  margin-block-end: 0;
}
.first {
  border-top: none;
}
.last {
  border-bottom: none;
}
