.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 14px;
  background-color: var(--background-section);
  border: 1px solid var(--copyright-top-border-color);
  border-radius: 6px;
}

.container[data-variant="secondary"] {
  background-color: var(--dashboard-background);
  border: 1px solid var(--copyright-top-border-color);
  border-radius: 6px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgNameWrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  & > p {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-dark-secondary);
  }
}

.imgWrapper {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

  & > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.addEditWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.addEditButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: var(--btn-bg-color);
  border-radius: 6px;
  cursor: pointer;

  & > svg {
    font-size: 20px;
    color: var(--main-color);
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & > p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-dark-secondary);
    opacity: 0.5;
  }

  & > h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color-dark-secondary);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }
}

.middleSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.gridSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.statusWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.statusDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #10b981;
  display: inline-block;
}
