.tableActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-radius: 4px;
}

.iconDiv svg {
  font-size: 17px;
  color: var(--icon-color);
  cursor: pointer;
}

.iconDiv[datatype="basic"] svg {
  font-size: 17px;
  color: var(--icon-color);
  cursor: pointer;
}

.iconDiv[datatype="onView"] svg {
  font-size: 17px;
  color: var(--icon-color);
  cursor: pointer;
}

.iconDiv[datatype="onEdit"] svg {
  font-size: 17px;
  color: var(--icon-color);
  cursor: pointer;
}

.iconDiv[datatype="onDelete"] svg {
  font-size: 17px;
  color: var(--icon-color);
  cursor: pointer;
}

.iconDiv[datatype="onApprove"] svg {
  font-size: 17px;
  color: var(--icon-color);
  cursor: pointer;
}

.iconDiv[datatype="onExport"] svg {
  font-size: 24px;
  color: var(--icon-color);
  cursor: pointer;
}
