.fancyHeading {
	font-family: var(--ff-primary);
	font-weight: bold;
	font-size: clamp(calc(var(--_fs) / 1.5), 4vw, var(--_fs));
	line-height: 1.4;
	color: var(--text-color);
	margin-bottom: 1rem;

	&.center {
		text-align: center;
	}

	& span {
		color: var(--text-color);
	}
}

.fancyHeadingWithDescription {
	display: flex;
	flex-direction: column;
	max-width: 600px;

	&.center {
		align-items: center;
		margin: 0 auto;
		text-align: center;
	}
}

.description {
	font-size: clamp(calc(var(--_fs) / 1.5), 4vw, var(--_fs));
	line-height: 1.4;
	color: var(--secondary-text-color);
}
