
.header{
  padding: 0px 0px 0px 0px !important;
  align-self: flex-start;
  padding-block-start: 0px;
}

.header h6{
  color: #1C1C1C;
  font-size: 22px !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding: 20px;
  margin-bottom: 0px;
  @media screen and (max-width:390px) {
    padding: 20px 10px;
    font-size: 20px !important;
  }
}

.headerBox{
  padding: 0px 0px 0px 0px !important;
}

.button {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: flex-end;
  @media screen and (max-width: 390px) {
    flex-direction: column;
    & button{
      width: 100%;
    }
  }
}

