.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.buttonSection {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
